name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 22

      - name: Install build dependencies (Windows)
        if: runner.os == 'Windows'
        run: Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
        shell: powershell

      - name: Install WiX Toolset
        if: runner.os == 'Windows'
        run: choco install wixtoolset  --version=3.14.0 --yes --allow-downgrade

      - name: Install build dependencies (Ubuntu)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y dpkg fakeroot rpm flatpak flatpak-builder elfutils

      - name: Add Flathub repository
        if: runner.os == 'Linux'
        run: flatpak remote-add --if-not-exists --user flathub https://dl.flathub.org/repo/flathub.flatpakrepo

      - name: Install dependencies
        run: npm install

      - name: Build/release Electron app
        run: DEBUG=electron-forge:*,electron-installer-debian,flatpak-bundler npm run make

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.os }}-artifacts
          path: out/make/

      - name: Create release
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v1
        with:
          files: out/make/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
